<!DOCTYPE html>
<html>
    <head>
        <title>Create Story</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.6.8-fix/jquery.nicescroll.min.js"></script>
        <script type="text/javascript" src="../js/Common.js"></script>
        <script type="text/javascript" src="../js/constant.js"></script>
        <script type="text/javascript" src="../js/creationApp.js"></script>
        <script type="text/javascript" src="../js/creationStory.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/album.css">
    </head>
    <body ng-app="createAlbum">
        <div class="container  ADDSTORY"  ng-controller="albumController" ng-cloak id='contHt'>
            
             
             <form id="storyCover" enctype="multipart/form-data" action="" method="post" name="form1">
                 <input type="file" onchange="addCoverImg(this);" accept="image/*" id="forCoverImage" name="userPhoto" class="" multiple="">
                
            </form>
             
            
        </div>
        
        
        
        <script>
        
        
                        
            function addCoverImg(input){
                var FD = new FormData(document.getElementById("storyCover"));
                $.ajax({
                    url: NODOMAIN + 'timelinePhotoUpload/123456/1',
                    type: 'POST',
                    data: FD,
                    enctype: 'multipart/form-data',
                    async: true,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log(response)
                    }
                    , error: function (err) {
                        common.msg(0, err);
                    }

                    });


                }
                        
        </script>
        
        
        
        
        
        
    </body>
</html>